.app{
    margin: 0%;
    padding: 0;
}


// header 
header{
    position: absolute;
    z-index: 999;
    background-color: black;
    opacity: .5;
    height: 60px;
    width: 100%;
    display: fixed;
    grid-template-columns: repeat(2,1fr);
    display: flex;
    h2{
        margin: auto ;
        width: 70%;
        padding-left: 40px;
        a{
            text-decoration: none;
            opacity: 0.75;
            color: #fff;
            &:hover{
                opacity: 1;
            }

        }

    }
    nav{
        display:inline-flex;
        width: 30%;
        margin:  auto;
        list-style: none;
        li{
            padding: 0 30px;
            a{
                text-decoration: none;
                opacity: 0.75;
                color: #fff;
                &:hover{
                    opacity: 1;
                }
    
            }
        }
    }
}
//hero 
.hero{
    .background-image{
        position: relative;
        height: 100vh;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('https://images.pexels.com/photos/672358/pexels-photo-672358.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
        .hero-content-area{
            position: absolute;
            z-index: 999;
            top: 40%;
            right: 50%;
            transform: translate(50%,50%);
            text-align: center;
            color: #fff;
            h1{
                font: bold 60px "Open Sans", sans-serif;
                line-height: 10px;

            }
            h3 {
                font: normal 28px "Open Sans", sans-serif;
            }
            a {
                background-color: black;
                opacity: .6;
                padding: 10px 40px;
                text-decoration: none;
                color: #fff;
                font-size: 1em;
                border-radius:5px;
                &:hover{
                    opacity: 1;
                    background-color: green;
                    opacity: .7;
                }
              
            }
        }
    }
}

// destinations
.destinations{
    height: 900px;
    margin: 20px auto;
    h3{
        text-transform: capitalize;
        font: bold 32px "Open Sans", sans-serif;
        margin-bottom: 30px;
        text-align: center;

    }
    p{
        max-width: 775px;
        line-height: 2;
        margin: 30px auto;
        text-align: center;
    }
    hr{
        width: 250px;
        height: 3px;
        background-color: #3f51b5;
        border: 0;
        margin-bottom: 50px;
    }
    .grid{
        width: 100%;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
        margin: 0%;
        div{
            padding: 5px;
        }
     
      
        .pic1{
            background-image: url("https://images.pexels.com/photos/705075/pexels-photo-705075.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
            height: 300px;
            width: 28%;     
            background-clip: content-box;
            background-size: cover;
            background-position: center;


        }
        .pic2{
            background-image: url("https://images.pexels.com/photos/461797/pexels-photo-461797.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
            height: 300px;
            width: 68%;     
            background-clip: content-box;
            background-size: cover;
            background-position: center;
           }
        .pic3{
            background-image: url("https://images.pexels.com/photos/709496/pexels-photo-709496.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
            height: 300px;
            width: 68%;     
            background-clip: content-box;
            background-size: cover;
            background-position: center;

        }
        .pic4{
            background-image: url("https://images.pexels.com/photos/1366901/pexels-photo-1366901.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
            height: 300px;
            width: 28%;   
            background-clip: content-box;
            background-size: cover;
            background-position: center;  




        }
       

        }
    }
    //packegs

    .packges{
        height: 1000px;
        background-color: #eee;
        .title{
            text-transform: capitalize;
            font: bold 32px "Open Sans", sans-serif;
            margin-bottom: 30px;
            text-align: center;
            padding-top: 40px;
        }
        p{
            max-width: 775px;
            line-height: 2;
            margin: 30px auto;
            text-align: center;
            padding-bottom: 50px;
            
        }
        hr{
            width: 250px;
            height: 3px;
            background-color: #3f51b5;
            border: 0;
            margin-bottom: 50px;
        }
        .grid{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            padding: 30px;
            margin: 20px auto;
            li{
                display: block;
                text-align: center;
                max-width: 500px;
                margin: 0 auto;
                i{
                    color: green;
                    font-size: 60px;
                }
            }
        }

    }

    //testimonials
    .testimonials{
        width: 90%;
        margin: 20px auto;
        text-align: center;
        p{
            font-size: 20px;
            font-weight: 300;
            line-height: 30px;
            max-width: 675px;
            margin: 0 auto;
            padding: 30px;
            
        }
       h4 {
            font-size: 22px;
            text-transform: uppercase;
        font: normal 28px "Open Sans", sans-serif;


        }
        h3{
            text-transform: capitalize;
            font: bold 32px "Open Sans", sans-serif;
            margin-bottom: 30px;
            text-align: center;
            padding-top: 40px;

        }

     


    }
    //contact
    .contact{
        height: 450px;
        background-color: #eee;
        text-align: center;
       
        .title{
            text-transform: capitalize;
            font: bold 32px "Open Sans", sans-serif;
            margin-bottom: 30px;
            text-align: center;
            padding-top: 40px;

        }
        p{
            font-size: 20px;
            font-weight: 300;
            line-height: 30px;
            max-width: 675px;
            margin: 0 auto;
            padding: 30px;
            
        }
        input{
            display: block;
            width: 70%;
            height: 20px;
            margin: 40px auto;

        }
        a{
            width: 80px;
            height:  20px;
            background-color:#eee;
            opacity: .6;
            padding: 10px 30px;
            text-decoration: none;
            &:hover{
                opacity: 1;
            }
        }

    }
    //foooter
    footer{
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: #607d8b;
        color: #fff;
        padding: 20px 0;
        ul{
            overflow: hidden;
            display:inline-flex;
            li{
                padding: 0 20px;
                list-style: none;
                float: right;
                text-align: right;
                i{
                    color: #fff;
                    opacity: .7;
                    &:hover{
                        opacity: 1;
                    }
                }
                
            }
        }


    }



